.CertificateAndInternship{
    width: 100%;
    height: 650px;
    padding: 40px 10%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.heading{
    font-size: 22px;
    font-weight: 600;
    color: rgb(92, 91, 91);
    text-align: center;
}
.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.certificates{
    width: 48%;   
    height: 500px;
    padding: 20px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(239, 207, 244);
    background-color:  rgb(252, 245, 255);
    border-radius: 15px;
}
.heading2{
    color: rgb(91, 5, 66);
}
.certificate{
    height: 350px;
    width: 100%;
    background-color: bisque;
    display: flex;
    border-radius: 15px;
}
/* certificate left side area */
.sidebar{
    width: 38%;
    height: 100%;
    background-color: rgb(145, 7, 126);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px 0 0 10px;
}
.main_area{
    width: 62%;
    height: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 10px 10px 0;
}
.title{
    font-size: 12px;
    padding: 10px;
    border: 1px solid white;
}
.tags{
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
}
.tags p{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(239, 207, 244);
    background-color:  rgb(252, 245, 255);
    color: rgb(189, 11, 165);
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.middle_text{
    line-height: 25px;
}
.middle{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


/* certificate right side area */

.top{
    font-size: 8px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.head .logo{
    font-size: 16px;
    font-weight: 600;
    color: rgb(145, 7, 126);
}
.main_middle{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.main_middle .text p{
    font-size: 10px;
}
.main_text{
    font-size: 15px;
}
.text{
    font-size: 10px;
}
.name{
    font-size: 22px;
    color: rgb(92, 91, 91);
}
.verify_mail{
    font-size: 8px;
}

.bottom{
    width: 100%;
    font-size: 10px;
}
.signature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign_name{
    font-size: 16px;
    margin-bottom: 3px;
}
.sign{
    text-align: center;
}

/* Internship Card */
.internship{
    width: 48%;   
    height: 500px;
    padding: 20px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    border: 1px solid rgb(233, 240, 178);
    background-color:  rgb(253, 255, 234);
    border-radius: 15px;
}
.internship_text{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.img{
    width: 40%;
    height: 250px;
}

@media screen and (max-width: 800px) {
    .CertificateAndInternship{
        padding: 20px 5%;
    }
    .content{
        flex-direction: column;
        row-gap: 50px;
    }
    .certificates, .internship{
        width: 80%;
    }
    
}


@media screen and (max-width: 600px) {
    .CertificateAndInternship{
        padding: 20px 3%;
    }
    .content{
        flex-direction: column;
        row-gap: 50px;
    }
    .certificates, .internship{
        width: 100%;
        padding: 10px;
    }
    .sidebar, .main_area{
        padding: 20px 5px;
    }
    .tags{
        column-gap: 20px;
    }
    .main_text{
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .CertificateAndInternship{
        height: auto;
        padding: 20px 5%;
    }
}